
@{
    ViewBag.Title = "خطا";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<style>
    .message {
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
        background-color: red;
        color: white;
        padding: 40px;
        border-radius: 5px;
    }
</style>

<div class="container">
    <div class="message">
        <p>خطای پایگاه داده - بعد از چند دقیقه دیگر امتحان کنید</p>
        <a style="color:yellow;text-decoration:overline" href="@Url.Action("Index","Profile")">
            <p>برگشت به پنل</p>
        </a>

    </div>
</div>
