
@{
    ViewBag.Title = "عدم دسترسی";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<style>
    .message {
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
        background-color: red;
        color: white;
        padding: 40px;
        border-radius: 5px;
    }
</style>

<div class="container">
    <div class="message">
        <p>شما به این قسمت دسترسی ندارید</p>
        <a style="color:yellow;text-decoration:underline overline" href="@Url.Action("Index","Home")">
        <p>برگشت به صفحه اصلی</p></a>

    </div>
</div>
