<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Home/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/animate.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Home/css/aos.css">
    <link rel="stylesheet" href="~/Content/Home/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/Home/css/icomoon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/style.css">
    <link href="~/Content/Home/customfont.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" dir="rtl" style="text-align: justify; font-family: 'IRANSans'">
    <div class="py-1 bg-black top">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">۰۴۴ - ۳۲۳۵۱۸۲۸</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class=""></span></div>
                            <span class="text">ویرا رایانش آریا پاد</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @RenderBody()

    <style>
        ul {
            padding: 0;
        }
    </style>
    <footer class="ftco-footer ftco-section img" style="background-image: url(../../Content/Home/images/footer-bg.jpg);">
        <div class="overlay"></div>
        <div class="container-fluid px-md-5">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">اروم اسمارت</h2>
                        <p>خانه هوشمند</p>
                        <p>شهر هوشمند</p>
                        <p>صنایع هوشمند</p>
                        <p>مزارع هوشمند</p>
                        <ul class="ftco-footer-social list-unstyled mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4" style="text-align:right">
                        <h2 class="ftco-heading-2">پیوندها</h2>
                        <ul class="list-unstyled">
                            <li><a href=@Url.Action("Index","Home")><span class="icon-angle-double-left mr-2"></span>صفحه اصلی </a></li>
                            <li><a href=@Url.Action("Login","Home")><span class="icon-angle-double-left mr-2"></span>ورود</a></li>
                            <li><a href=@Url.Action("Index","Store")><span class="icon-angle-double-left mr-2"></span>فروشگاه</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">خدمات</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="icon-angle-double-left mr-2"></span>اتوماسیون خانگی</a></li>
                            <li><a href="#"><span class="icon-angle-double-left mr-2"></span>اشیاء هوشمند</a></li>
                            <li><a href="#"><span class="icon-angle-double-left mr-2"></span>امنیت هوشمند</a></li>
                            <li><a href="#"><span class="icon-angle-double-left mr-2"></span>کنترل هوشمند</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">سوالی دارید؟</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">ایران، آ.غ، ارومیه ، مولوی</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">۳۲۳۵۱۸۲۸ ۰۴۴</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope pr-4"></span><span class="text">info@orumsmart.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        کپی رایت &copy;
                        <script>document.write(new Date().getFullYear());</script> تمام حقوق محفوظ است
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <a id="topbutton"></a>

    <script src="~/Content/Home/js/jquery.min.js"></script>
    <script src="~/Content/Home/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/Home/js/popper.min.js"></script>
    <script src="~/Content/Home/js/bootstrap.min.js"></script>
    <script src="~/Content/Home/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/Home/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/Home/js/jquery.stellar.min.js"></script>
    <script src="~/Content/Home/js/owl.carousel.min.js"></script>
    <script src="~/Content/Home/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Home/js/aos.js"></script>
    <script src="~/Content/Home/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/Home/js/scrollax.min.js"></script>

    <script src="~/Content/Home/js/main.js"></script>
    <script>
        var btn = $('#topbutton');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
    </script>
</body>
</html>
