@using Ourmsmart.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <link rel="icon"
          type="image/x-icon"
          href="~/Content/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/Home/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/animate.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Home/css/aos.css">
    <link rel="stylesheet" href="~/Content/Home/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/Home/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/Home/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/style.css">
    <link href="~/Content/Home/customfont.css" rel="stylesheet" />
    <link href="~/Content/toastr/build/toastr.min.css" rel="stylesheet" />
    <style>
        .footersite {
            background-color:white;
            border-top:20px solid lightgrey;
        }

        @@media (max-width: 767px) {
            .footersite {
                background-image: none;
                background-color: white;
                height: auto;
            }
        }
        .col-md-5 img{
            width:85%;
            height:auto;
            padding-right:50px;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" dir="rtl" style="text-align: justify; font-family: 'IRANSans'">
    <div class="py-1 bg-black top" dir="ltr">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md-6 pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">۰۴۴-۳۳۴۸۹۶۹۰ </span>
                        </div>
                        <div class="col-md-6 pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class=""></span></div>
                            <span class="text">ویرا رایانش آریا پاد</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @RenderBody()

    <style>
        ul {
            padding: 0;
        }
    </style>
    <footer class="footersite ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container-fluid px-md-5">
            <div class="row mb-5">
                <div class="col-md-5">
                    <div class="ftco-footer-widget mb-4" style="width:100%">

                        <img src="~/Content/Home/images/footer.jpg" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ftco-footer-widget mb-4 ml-md-4" style="text-align:right">
                        <h2 class="ftco-heading-2">پیوندها</h2>
                        <ul class="list-unstyled">
                            <li style="border-bottom: 1px solid blue;"><a href=@Url.Action("Index","Home") style="color:blue;">صفحه اصلی </a></li>
                            <li style="border-bottom: 1px solid blue;"><a href=@Url.Action("Login","Home") style="color:blue">ورود</a></li>
                            <li style="border-bottom: 1px solid blue;"><a href=@Url.Action("Index","Store") style="color:blue">فروشگاه</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">خدمات</h2>
                        <ul class="list-unstyled">
                            @{
                                Services s = new Services();
                                List<string> ls = s.getServices();
                                int i = 1;
                            }
                            @foreach (var item in ls)
                            {
                                <li style="color:blue;border-bottom:1px solid blue">@item</li>

                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">سوالی دارید؟</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li style="color:blue">ارومیه ، مولوی۱ ، نبش کوی هشتم، پلاک ۲۴۴</li>
                                <li style="color:blue">۳۳۴۸۹۶۹۰ ۰۴۴</li>
                                <li style="color:red">info@orumsmart.ir</li>
                                <!-- Contact Form by www.1abzar.com --->
                                <a href="http://www.1abzar.com/visit/contact-form/?email=ce.sajjad.haghighat@gmail.com" target="_blank"><img border=0 src="https://1abzar.ir/abzar/tools/contact-form/c2.png" alt="تماس با ما"></a><!-- Contact Form by www.1abzar.com --->
                            </ul>
                        </div>
                        <ul class="ftco-footer-social list-unstyled mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p style="color:black">
                        کپی رایت &copy;
                        <script>document.write(new Date().getFullYear());</script> تمام حقوق محفوظ است
                    </p>
                    <style>
                        .myname a:hover{
                            color:red;
                        }
                    </style>
                    <p class="myname">طراحی و توسعه توسط <a  href="http://sajjad-haghighat.ir">سجاد حقیقت</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <a id="topbutton" style="margin:0px 5px 65px 0px !important;background-color:#207dff;"></a>


    <script src="~/Content/Home/js/jquery.min.js"></script>
    <script src="~/Content/Home/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/Home/js/popper.min.js"></script>
    <script src="~/Content/Home/js/bootstrap.min.js"></script>
    <script src="~/Content/Home/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/Home/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/Home/js/jquery.stellar.min.js"></script>
    <script src="~/Content/Home/js/owl.carousel.min.js"></script>
    <script src="~/Content/Home/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Home/js/aos.js"></script>
    <script src="~/Content/Home/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/Home/js/scrollax.min.js"></script>
    <script src="~/Content/Home/js/main.js"></script>
    <script src="~/Content/toastr/build/toastr.min.js"></script>
    <!---start GOFTINO code--->
    <script type="text/javascript">
        !function () { var a = window, d = document; function g() { var g = d.createElement("script"), s = "https://www.goftino.com/widget/6RMcc9", l = localStorage.getItem("goftino"); g.type = "text/javascript", g.async = !0, g.referrerPolicy = "no-referrer-when-downgrade", g.src = l ? s + "?o=" + l : s; d.getElementsByTagName("head")[0].appendChild(g); } "complete" === d.readyState ? g() : a.attachEvent ? a.attachEvent("onload", g) : a.addEventListener("load", g, !1); }();
    </script>
    <!---end GOFTINO code--->

    <script>
        var btn = $('#topbutton');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, 1500);
        });
    </script>
    <!-- Online Support by www.1abzar.com 
    <style>
        #abzar-online-support {
            position: fixed;
            z-index: 20000;
            bottom: 10px;
            left: 10px
        }
    </style>
    <script type="text/javascript" src="https://online.1abzar.com/1abzar.php?admin=3069805&mail=1&mod=4"></script><div style="display:none"><h3><a href="http://www.1abzar.com">&#1662;&#1588;&#1578;&#1740;&#1576;&#1575;&#1606;&#1740;</a></h3></div>
    <!-- Online Support by www.1abzar.com --->
</body>
</html>
