
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">Orumsmart</a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a href=@Url.Action("Index", "Home") class="nav-link"><span>Home</span></a></li>
                <li class="nav-item cta mr-md-2"><a href=@Url.Action("Login", "Home") class="nav-link">CMS</a></li>
                <li class="nav-item cta mr-md-2"><a href=@Url.Action("Index", "Store") class="nav-link">Store</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="ftco-section bg-light" id="blog-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <h2 class="mb-4">Vira Store</h2>
                <p>Gets Every New Smart Home Products Here</p>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../Content/Home/images/image_1.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta mb-3">
                            <div><a href="#">June 9, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../Content/Home/images/image_2.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta mb-3">
                            <div><a href="#">June 9, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../Content/Home/images/image_3.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta mb-3">
                            <div><a href="#">June 9, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../Content/Home/images/image_4.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta mb-3">
                            <div><a href="#">June 9, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../Content/Home/images/image_5.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta mb-3">
                            <div><a href="#">June 9, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../Content/Home/images/image_6.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta mb-3">
                            <div><a href="#">June 9, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../Content/Home/images/image_1.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta mb-3">
                            <div><a href="#">June 9, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../Content/Home/images/image_1.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta mb-3">
                            <div><a href="#">June 9, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('../../Content/Home/images/image_1.jpg');">
                    </a>
                    <div class="text d-block">
                        <div class="meta mb-3">
                            <div><a href="#">June 9, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

