@using PagedList
@using PagedList.Mvc
@model IEnumerable<Ourmsmart.Models.FAProduct>
@{
    ViewBag.Title = "فروشگاه";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .search-form-control
    {
        height:auto;
        font-size:15px;
        width:100%;
        padding:4px;
    }
    .search {
        height: auto;
        font-size: 15px;
        width: 100%;
        padding: 4px 0px 4px 0px;
    }
    .searchform {
        width: 100%;
        height: auto;
        border-bottom: 2px solid blue;
        border-top: 2px solid blue;
        margin-bottom: 15px;
        margin-top : 15px;
        padding-top: 15px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">Orumsmart</a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a href=@Url.Action("Index", "Home") class="nav-link"><span>خانه</span></a></li>
                <li class="nav-item cta mr-md-2"><a href=@Url.Action("Login", "Home") class="nav-link">ورود</a></li>
            </ul>
            <div dir="ltr">
                <ul class="navbar-nav nav ml-auto" >
                    <li class="nav-item cta mr-md-2"><a href=@Url.Action("basket", "Ordering") class="nav-link">سبد خرید <span>0</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<section class="ftco-section bg-light" id="blog-section">
    <div class="container">
        <!--<div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <h2 class="mb-4">فروشگاه ویرا</h2>
            </div>
        </div>-->
        <div  style="width:100%;height:auto;" >
            <form class="row bg-light searchform">
                <div class="col-md-4 heading-section text-center ftco-animate">
                    <h2 class="mb-4">فروشگاه ویرا</h2>
                </div>
                <div class="form-group col-md-3">
                    <select name="Category" class="search-form-control" id="Category">
                        <option value="" disabled selected>انتخاب دسته بندی</option>
                        <option value="volvo" >همه</option>
                        <option value="saab">گجت</option>
                        <option value="mercedes">دستگاه</option>
                        <option value="audi">قطعات</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="search-form-control" id="cname" placeholder="جستجو ...">
                </div>
                <div class="form-group col-md-2">
                    <p> <a onclick="search()" class="btn btn-secondary search">جستجو</a></p>
                </div>
            </form>
        </div>
        <div class="row d-flex">
            @foreach (var item in Model)
            {
                <div class="col-md-3 ftco-animate">
                    <div class="blog-entry">
                        <a href=@Url.Action("Detail", "Store",new { id = item.PID }) class="block-20" style="background-image: url('../../Content/Home/images/image_1.jpg');">
                        </a>
                        <div class="text d-block">
                            <div class="meta mb-3">
                                <div><a href="#">@item.Status</a></div>
                                <div><a href="#">@item.Price</a></div>
                                <div><a href="#">@item.Qty</a></div>
                            </div>
                            <p class=""><a href="#">@item.Title</a></p>
                            <p><a  class="btn btn-secondary py-2 px-3">افزودن به سبد خرید +</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

