@using Ourmsmart.Models
@{
    ViewBag.Title = "داشبورد";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<style>
    .row .col-md-6 {
        padding: 25px;
        
    }
    .row label {
        border-bottom:1px solid black;
    }
</style>
<div class="row" style="text-align:right;background-color:white;padding:25px;text-align:center" dir="rtl">
    <div class="col-md-8">
        <div class="" style="background-color:lightblue">
            <label>تعداد محصولات</label>
            @{
                VIRADB db = new VIRADB();
                var p = (from a in db.FAProducts select a).Count();
                <h2>
                    @p
                </h2>
            }
        </div>
        <div class="" style="background-color:lightcyan">
            <label>تعداد سفارشات</label>
            @{
                var o = (from c in db.Orders group c by c.Cartid into uniqueIds select uniqueIds.FirstOrDefault()).Count();
                <h2>
                    @o
                </h2>
            }
        </div>
        <div class="" style="background-color:lightblue">
            <label>تعداد اعضا</label>
            @{
                var u = (from a in db.FAUsers select a).Count();
                <h2>
                    @u
                </h2>
            }
        </div>
        <div class="" style="background-color:lightcyan">
            <label>تعداد پیام ها</label>
            @{
                var m = (from a in db.Contacts select a).Count();
                <h2>
                    @m
                </h2>
            }
        </div>
        <div style="overflow-x:auto">
            <div id="navasan_table_container"></div>
        </div>
    </div>
    <br />
    <div class="col-md-4" style="overflow-x:auto">
        <div class="" style="background:lightblue;">
            <!-- Calendar by www.1abzar.com --->
            <script type="text/javascript" src="//1abzar.ir/abzar/tools/ruznama/?mod=2"></script><div style="display:none"><h3><a href="http://www.1abzar.com/abzar/ruznama.php">&#1578;&#1602;&#1608;&#1740;&#1605; &#1588;&#1605;&#1587;&#1740;</a></h3></div>
            <!-- Calendar by www.1abzar.com --->
        </div>
        <div style="background:lightcyan;">
            <!-- kalam masoomin by www.1abzar.com --->
            <script type="text/javascript" src="//1abzar.ir/abzar/tools/behesht/?mod=1&kc=dddddd&kadr=1&n1=1&n2=1&n3=1&n4=1&n5=1&n6=1&n7=1&n8=1&n9=1&n10=1&n11=1&n12=1&n13=1&n14=1&time=30"></script><div style="display:none"><h2><a href="http://www.1abzar.com/abzar/behesht.php">ابزار حدیث</a></h2></div><!-- kalam masoomin by www.1abzar.com --->
        </div>
        <div class="" style="background:lightblue;">
            <!-- OghatSharee by www.1abzar.com --->
            <script type="text/javascript" src="//1abzar.ir/abzar/tools/azan/v2/?color1=333333&color2=F07022&bg=FEF6DF&kc=B3181D&kadr=1&shahr=2-1"></script><div style="display:none"><h2><a href="http://www.1abzar.com/abzar/azan2.php">اوقات شرعی</a></h2></div><!-- OghatSharee by www.1abzar.com --->
        </div>
        <div class="" style="background:lightcyan;">
            <!-- Weather by www.1abzar.com --->
            <script type="text/javascript" src="//1abzaar.ir/abzar/tools/weather/hava.php?color=333333&shahr=023&bg=F0F0F0&kc=BBBBBB&kadr=0"></script><div style="display:none"><h2><a href="http://www.1abzar.com/abzar/weather.php">&#1608;&#1590;&#1593;&#1740;&#1578; &#1570;&#1576; &#1608; &#1607;&#1608;&#1575;</a></h2></div><!-- Weather by www.1abzar.com --->
        </div>
        <div>

        </div>
    </div> 
</div>

<script>function navasanret(data) { document.getElementById('navasan_table_container').innerHTML = JSON.parse(data) }</script>
<script src="//www.navasan.tech/wp-navasan.php?usd&eur&gbp&aed_note&try&jpy&aud&nzd&cad&sgd&chf&pkr&azn&nok&sek&dkk&kwd&omr&rub&brl&thb&afn&inr&cny&myr&gel&usd_sherkat&usd_shakhs&aed&eur_hav&gbp_hav&hav_cad_cheque&aud_hav&myr_hav&cny_hav&try_hav&jpy_hav&btc&eth&xrp&bch&eos&bnb&usdt&pp&mex_usd_sell&mex_usd_buy&mex_eur_sell&mex_eur_buy&xau&usd_xau&18ayar&sekkeh&bahar&nim&rob&abshodeh&gerami&bub_sekkeh&bub_bahar&bub_nim&bub_rob&bub_18ayar&bub_gerami"></script>


<script language="JavaScript" type="text/javascript">
    function replaceDigits(post) {
        var map = ["&\#1776;", "&\#1777;", "&\#1778;", "&\#1779;", "&\#1780;", "&\#1781;", "&\#1782;", "&\#1783;", "&\#1784;", "&\#1785;"]
        post.innerHTML = post.innerHTML.replace(/\d(?=[^<>]*(<|$))/g, function ($0) { return map[$0] });
    }
</script>

<script type="text/javascript">
    var posts = document.getElementsByTagName('h2');
    for (var i = 0; i < posts.length; i++) {
        replaceDigits(posts[i]);
    }
</script>